.venv/
.env
.env/
.flaskenv
site.db
instance/*.db
instance/*.db*
instance/site.db__pycache__/
*.pyc
*.md

ProducePricer/instance/receiving_images/*
instance/receiving_images/*

#temporary
scripts/seed_fake_items.py
