{% extends "base.html" %}
{% block title %}Packaging List{% endblock %}
{% block content %}

    <main>
        <section>
            <h2>Packaging List</h2>
            {% if packaging %}
                <ul>
                    {% for item in packaging %}
                        <li>{{ item.packaging_type }}</li>
                        <a href="{{ url_for('add_packaging_cost', packaging_id=item.id) }}" class="btn btn-sm btn-secondary">Add/Update Cost</a>
                        <ul>
                            {% if packaging_costs[item.id] %}
                                <li> Box Cost: {{ packaging_costs[item.id].box_cost }}</li>
                                <li> Bag Cost: {{ packaging_costs[item.id].bag_cost }}</li>
                                <li> Tray and/or Chemical Cost: {{ packaging_costs[item.id].tray_andor_chemical_cost }}</li>
                                <li> Label and/or Tape Cost: {{ packaging_costs[item.id].label_andor_tape_cost }}</li>
                                <li> Date of Price: {{ packaging_costs[item.id].date }}</li>
                            {% else %}
                                <li>No costs available for this packaging type.</li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No packaging information available.</p>
            {% endif %}

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPackageModal">
                Add New Package
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#importPackagesModal">
                Import Packages
            </button>
            
            <div class="modal fade" id="createPackageModal" tabindex="-1" role="dialog" aria-labelledby="createPackageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createPackageModalLabel">Create New Package</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{{ url_for('add_package') }}">
                            {{ create_package_form.hidden_tag() }}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ create_package_form.name.label(class="form-control-label") }}
                                    {{ create_package_form.name(class="form-control") }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                {{ create_package_form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- Import Packages Modal -->
            <div class="modal fade" id="importPackagesModal" tabindex="-1" role="dialog" aria-labelledby="importPackagesModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="importPackagesModalLabel">Import Packages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{{ url_for('upload_packaging_csv') }}" enctype="multipart/form-data">
                            {{ upload_csv_form.hidden_tag() }}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ upload_csv_form.file.label(class="form-control-label") }}
                                    {% if upload_csv_form.file.errors %}
                                        {{ upload_csv_form.file(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in upload_csv_form.file.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ upload_csv_form.file(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                {{ upload_csv_form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock %}